.filterSort {
  margin-top: 24px;
  padding: 12px;
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  select {
    border: none;
    outline: none;
    border-bottom: 1px solid #5c5c5c;
  }

  &__sort {
    display: flex;
    column-gap: 12px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    row-gap: 24px;

    &__sort {
      flex-direction: column;
      row-gap: 12px;
    }
  }
}

.card {
  justify-self: center;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-8px);
    border: 1px solid #5c5c5c;
  }

  &__top {
    margin-bottom: 24px;
    display: flex;
    justify-content: right;
    column-gap: 4px;

    svg {
      width: 24px;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    svg#{&}Edit {
      &_disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }

      &:not(&_disabled):hover {
        opacity: 1;
        transform: scale(1.1);

        path {
          fill: orange;
        }
      }
    }

    svg#{&}Delete {
      &_disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }

      &:not(&_disabled):hover {
        opacity: 1;
        transform: scale(1.1);

        path {
          fill: red;
        }
      }
    }
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;

    &Image {
      padding: 12px;
      background-color: #b5b5b5;
      opacity: 0.8;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  @media (max-width: 1023px) {
    max-width: 500px;
    margin: auto;

    &__add {
      width: 100%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin-bottom: 24px;
    padding: 24px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    text-decoration: none;
    animation: appear 0.6s ease;
  }

  &__close {
    display: block;
    margin-bottom: 24px;
    margin-left: auto;
    width: 24px;
    opacity: 0.5;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      transform: scale(1.1);

      path {
        fill: red;
      }
    }
  }

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0 0;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
  &__requried:after {
    content: "*";
    color: red;
  }

  input,
  select {
    border: none;
    outline: none;
    border-bottom: 1px solid #5c5c5c;
  }

  textarea {
    height: 100px;
    max-width: 440px;
    padding: 12px;
    border: 1px solid #5c5c5c;
    border-radius: 8px;
    resize: none;
  }

  button {
    padding: 12px;
    margin: 24px auto 0;
    width: 50%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #5c5c5c;
    }
  }

  @media (max-width: 1023px) {
    &__wrapper {
      max-width: 500px;
      margin: auto;
    }
  }
}
