.main {
  padding-top: 100px;
  max-width: 638px;

  &__title {
    font-size: 76px;
    line-height: 1.2;
    letter-spacing: 1.5px;
  }
  &__text1,
  &__text2 {
    margin-top: 24px;
    font-size: 21px;
    line-height: 1.5;
  }

  @media (max-width: 1023px) {
    padding-top: 50px;

    &__title {
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 1.2px;
    }
    &__text1,
    &__text2 {
      font-size: 16px;
    }
  }
}
